<div class="container pt-3">
  <div class="row">
    <div class="col-lg-6">
      <h1>アプリ作成中</h1>
      <h1>要素1です</h1>
    </div>
    <div class="col-lg-6 text-end">
      <%= render 'shared/color_button' %>
      <%= render 'shared/create_color' %>
    </div>
  </div>
</div>