<div class="container pt-3">
  <div class="row">
    <div class="col-lg-6">
      <%= render 'shared/canvas' %>
    </div>
    <div class="col-lg-6 text-end">
      <%= render 'shared/color_button' %>
      <%= render 'shared/create_color' %>
      <%= render 'shared/grid_count' %>
    </div>
  </div>
</div>