version: "3.9"

services:
  web:
    environment:
      RAILS_ENV: development
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: app_development
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
