<div class="row">
  <div>
    <input type="file" id="imageInput" accept="image/*">
    <label for="imageInput" class="custom-file-btn"></label>
  </div>
  <canvas id="hiddenCanvas" style="display:none;"></canvas>
  <div class="col-12 d-flex  justify-content-center">
    <div class="canvas-wrapper">
      <div id="pixelCanvas" class="pixel-canvas"></div>
      <div id="circlePreview" class="circle-preview"></div>
    </div>
  </div>
</div>

<script>
  const CANVAS_SIZE = 500;
  let gridSize = 32;
  let currentColor = "rgb(0, 0, 0)";

  function createCanvas() {
    const canvas = document.getElementById("pixelCanvas");
    if (!canvas) return;

    canvas.style.gridTemplateColumns = `repeat(${gridSize}, 1fr)`;
    canvas.style.gridTemplateRows = `repeat(${gridSize}, 1fr)`;

    canvas.innerHTML = "";

    let isMouseDown = false;
    document.addEventListener("mousedown", () => isMouseDown = true);
    document.addEventListener("mouseup", () => isMouseDown = false);

    for (let i = 0; i < gridSize * gridSize; i++) {
      const pixel = document.createElement("div");
      pixel.classList.add("pixel");

      pixel.addEventListener("mousedown", () => {
        pixel.style.backgroundColor = currentColor;
      });

      pixel.addEventListener("mouseover", () => {
        if (isMouseDown) {
          pixel.style.backgroundColor = currentColor;
        }
      });

      canvas.appendChild(pixel);
    }
    const imageInput = document.getElementById("imageInput");
    if (imageInput) imageInput.value = "";
  }

  document.addEventListener("turbo:load", () => {
    const imageInput = document.getElementById("imageInput");
    const hiddenCanvas = document.getElementById("hiddenCanvas");

    if (!imageInput || !hiddenCanvas) return;

    const ctx = hiddenCanvas.getContext("2d");

    imageInput.addEventListener("change", (e) => {
      const file = e.target.files[0];
      if (!file) return;

      const img = new Image();
      img.src = URL.createObjectURL(file);

      img.onload = () => {
      drawImageToPixelCanvas(img);
      };
    });

    function drawImageToPixelCanvas(img) {
      hiddenCanvas.width = gridSize;
      hiddenCanvas.height = gridSize;

      ctx.clearRect(0, 0, gridSize, gridSize);
      ctx.drawImage(img, 0, 0, gridSize, gridSize);

      const imageData = ctx.getImageData(0, 0, gridSize, gridSize).data;
      const pixels = document.querySelectorAll("#pixelCanvas .pixel");

      pixels.forEach((pixel, index) => {
        const r = imageData[index * 4];
        const g = imageData[index * 4 + 1];
        const b = imageData[index * 4 + 2];
        const a = imageData[index * 4 + 3] / 255;

        pixel.style.backgroundColor = `rgba(${r}, ${g}, ${b}, ${a})`;
      });
    }

    createCanvas();
  });
</script>