<div class="row">
  <div class="col-12">
    <div class="mt-1" id="snsIcons"></div>
    <select id="gridSelector">
      <option value="32" selected>32×32</option>
      <option value="48">48×48</option>
      <option value="64">64×64</option>
      <option value="128">128×128</option>
    </select>
  </div>
</div>

<script>
  const snsByGridSize = {
    16: ["line", "twitter-x", "discord", "github"],
    32: ["twitter-x"],
    64: ["twitter-x", "facebook", "tiktok", "discord", "github"],
    128: ["instagram"]
  };

  function renderSnsIcons(gridSize) {
    const container = document.getElementById("snsIcons");
    container.innerHTML = "";

    const icons = snsByGridSize[gridSize];
    if(!icons) return;

    icons.forEach(name => {
      const icon = document.createElement("i");
      icon.className = `bi bi-${name} fs-3 me-3`;
      container.appendChild(icon);
    });
  }

  document.addEventListener("turbo:load", () => {
    renderSnsIcons(gridSize);
    const selector = document.getElementById("gridSelector");
    if (!selector) return;
    selector.addEventListener("change", (e) => {
      gridSize = Number(e.target.value);
      createCanvas();
      renderSnsIcons(gridSize);
    });
  });
</script>