/*
 *= require_tree .
 *= require_self
 */
html, body {
  margin: 0;
  padding: 0;
}

.app-title {
  font-family: 'DotGothic16', sans-serif;
  font-size: 30px;
  letter-spacing: 0.14em;
  line-height: 1.4;
  padding-left: 20px;
  text-shadow:
    1px 0 0 currentColor,
    0 1px 0 currentColor;
}

.center-wrapper {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center; 
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  background-color: rgba(92, 64, 51, 0.6);
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
}

header {
  background-color: #464646;
}

.header-nav {
  margin-right: 100px;
}

.header-nav li {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 24px;
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(8, 64px);
  gap: 8px;
}

.color-btn {
  width: 48px;
  height: 48px;
  border: 2px solid #ccc;
  cursor: pointer;
}

.color-btn.active {
  border: 2px solid #000;
}

.pixel-canvas {
  width: 100%;
  height: 100%;
  display: grid;
  border: 1px solid #999;
  gap: 1px;
}

.pixel {
  width: 100%;
  height: 100%;
  background: white;
  box-sizing: border-box;
}

.canvas-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  background: #999;
}

.circle-preview {
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: none;
}

.circle-preview::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid black;
  border-radius: 50%;
}

.circle-preview::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  mask: radial-gradient(
    circle,
    transparent 70%,
    black 71%
  );
  -webkit-mask: radial-gradient(
    circle,
    transparent 70%,
    black 71%
  );
}

#popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

#popup {
  background: #FFF;
  padding: 20px 30px;
  border-radius: 50px;
  width: 800px;
  height: 320px;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.popup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 30px;
}