/*
 *= require_tree .
 *= require_self
 */
body {
  background-color: #464646;
}

header {
  background-color: #555555;
}

.header-nav {
  color: #FFFFFF;
  margin-right: 100px;
}

.header-nav li {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 24px;
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(8, 64px);
  gap: 8px;
}

.color-btn {
  width: 48px;
  height: 48px;
  border: 2px solid #ccc;
  cursor: pointer;
}

.color-btn.active {
  border: 2px solid #000;
}

.pixel-canvas {
  width: 100%;
  height: 100%;
  display: grid;
  border: 1px solid #999;
  gap: 1px;
}

.pixel {
  width: 100%;
  height: 100%;
  background: white;
  box-sizing: border-box;
}

.canvas-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.circle-preview {
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: none;
}

.circle-preview::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid black;
  border-radius: 50%;
}

.circle-preview::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  mask: radial-gradient(
    circle,
    transparent 70%,
    black 71%
  );
  -webkit-mask: radial-gradient(
    circle,
    transparent 70%,
    black 71%
  );
}